---
import Layout from "../../../layouts/Layout.astro";
import Main from "../../../layouts/Main.astro";
import Header from "../../../components/Header.astro";
import PartFooter from "../../../components/PartFooter.svelte";
import egg from "../../../assets/egg2.svg?url";

import { supabaseClient } from "../../../libs/supabaseClient.js";

const { pathname } = Astro.url;
console.log(pathname);

export function getStaticPaths() {
    return [
        { params: { category: "Person" } },
        { params: { category: "Object" } },
        { params: { category: "Activity" } },
        { params: { category: "Place" } },
    ];
}

const part2Category = [
    { name: "Person", url: "/part2&3/list/Person" },
    { name: "Object", url: "/part2&3/list/Object" },
    { name: "Activity", url: "/part2&3/list/Activity" },
    { name: "Place", url: "/part2&3/list/Place" },
];

const { category } = Astro.params;

const { data, error } = await supabaseClient
    .from("part2_topics")
    .select("topic,id")
    .eq("isOnline", true)
    .eq("category", category)
    .order("priority", { ascending: false });

const title = `Part2 Topics of ${category} - Collection of IELTS Speaking Topics`;
const description = `All current and past IELTS speaking Part2 topics questions about ${category}.`;
const keywords =
    "IELTS, IELTS speaking, part2, part3, topics, questions, answers";
---

<Layout title={title} description={description} keywords={keywords}>
    <Header />
    <Main>
        <img src={egg} alt="part2&3 image" class="w-28 m-auto my-7 md:w-36" />
        <h1
            class="text-[1.3rem] text-center font-semibold text-text-strong md:text-[1.5rem]"
        >
            Part 2&3 Topics
        </h1>
        <p
            class="w-4/5 m-auto mt-5 text-text-secondary leading-tight md:w-3/5 md:text-[1.1rem]"
        >
            Part 2 of the IELTS Speaking test is the long-turn section, lasting
            3-4 minutes. In this part, the candidate is given a topic card and
            one minute to prepare before speaking for up to two minutes. The
            topics often relate to personal experiences, events, or opinions.
        </p>
        <p
            class="w-4/5 m-auto mt-2 text-text-secondary leading-tight md:w-3/5 md:text-[1.1rem]"
        >
            Part 3 of the test is the discussion section, lasting 4-5 minutes.
            It involves a deeper conversation with the examiner, focusing on
            abstract ideas and broader topics related to the Part 2 theme. It is
            worth noting that Part 3 does not have pre-set questions, and the
            test is conducted in the form of impromptu Q&A.
        </p>
        <p
            class="w-4/5 m-auto mt-2 text-text-secondary leading-tight md:w-3/5 md:text-[1.1rem]"
        >
            Part 2 topics are listed below:
        </p>

        <ul
            id="anchor"
            class="mt-10 w-4/5 m-auto grid grid-cols-4 gap-2 md:w-2/5 md:gap-5"
        >
            {
                part2Category.map(({ name, url }) => (
                    <a
                        href={url}
                        class:list={[
                            "border",
                            "border-blue-main",
                            "py-1",
                            "text-center",
                            " rounded-full",
                            " text-blue-main",
                            " md:border-2",
                            "hover:text-white",
                            "hover:bg-blue-main",
                            "transition",
                            " duration-200",
                            " ease-in-out",
                            { " bg-blue-main text-white": pathname === url },
                        ]}
                    >
                        <li
                            class:list={[
                                "font-[500]",
                                " text-[0.9rem]",
                                " md:text-[1.1rem]",
                            ]}
                        >
                            {name}
                        </li>
                    </a>
                ))
            }
        </ul>
        <section
            class="w-4/5 m-auto flex flex-col gap-5 my-10 md:w-3/5 md:text-[1.1rem] md:gap-8"
        >
            {
                data?.map(({ topic, id }, index) => (
                    <a href={`/part2&3/${id}`}>
                        <div class="question font-semibold text-text-strong text-lg md:text-[1.3rem] hover:text-blue-main transition duration-200 ease-in-out">
                            <span class=" text-blue-main">Q{index + 1}:</span>
                            {topic}
                        </div>
                    </a>
                ))
            }
        </section>
    </Main>
    <PartFooter part={2} />
</Layout>

<style>
    h1,
    li,
    .question {
        font-family: "Bree Serif", serif;
    }

    p,
    div {
        font-family: "lato", sans-serif;
    }
</style>
